# -----------------------------------------
# ------ ChemSpot Configuration File ------
# -----------------------------------------


# ----- Output Control -----

output.path = ../../ChemSpot/output/
output.convertToIOB = false

# if the output should also be converted to the UIMA XMI format, this should rather be done via the command line argument
#output.xmi.path = ../../output/XMI/


# ----- Evaluation Settings -----

evaluation = true
evaluation.detailed = true


# ----- Threading -----

threading = false
threading.number_of_threads = 4


# ----- Runtime Parameters -----

#crf.model.path = resources/banner/model.bin
#sentence_model.path = resources/genia/SentDetectGenia.bin.gz

# path to dictionary file and id file should rather be set via command line arguments
#dict.path = ../../data/dict.zip
#ids.path = ../../data/ids.zip


# ----- Component Settings -----

component.tokenizer          = true
component.pos_tagger         = true
component.sentence_detector  = true
component.crf                = true
component.dictionary         = true
component.sum_tagger         = true
component.abbrev             = true
component.mention_expander   = true
component.annotation_merger  = true
component.stopword_filter    = true
component.normalizer         = true
component.opsin              = true
component.chemhits           = false

component.feature_generator  = false
component.profiler           = false


# ----- Corpora Definitions -----

corpus.CRAFT   = ../../ChemSpot/data/craft-1.0/xmi/ccp/chebi
corpus.DDI     = ../../ChemSpot/data/DDI/Train
corpus.GZ      = ../../ChemSpot/data/MF
corpus.IOB     = ../../ChemSpot/data/chemicals-test-corpus-27-04-2009-v3.iob.gz
corpus.NACTEM  = ../../ChemSpot/data/metabolite-corpus/xmls/
corpus.PATENT  = ../../ChemSpot/data/PatentAnnotations_GoldStandard/scrapbook
corpus.XMI     = ../../ChemSpot/data/XMI-Corpora/Patent-no-compound
corpus.TXT     = ../../ChemSpot/data/TXT
